@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

.container{
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 110px;
    margin-top: 60px;
    font-family: 'Inter', sans-serif;
    /* background-color: red; */
}
.div1{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-left: 850px;
    padding-top: 10px;
}
.Home{
    margin-right: 67px;
}
.New{
    margin-right: 67px;
}
.Popular{
    margin-right: 67px;
}
.Trending{
    margin-right: 67px;
}
#txt{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}
#txt:hover{
    color: hsl(35, 77%, 62%);
}
.div2{
    display: flex;
    justify-content: space-between;
}
.div21{
    display: flex;
    flex-direction: column;
    width: 1240px;
    /* background-color: red; */
}
.texte{
    display: flex;
    gap: 100px;
}
.question{
    margin-top: 30px;
    width: 40%;
    font-size: 45px;
    /* background-color: green; */
}
.description{
    width: 40%;
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    flex-grow: 1;
    /* background-color: aqua; */
    justify-content: space-between;
}
.texte_description{
    line-height: 1.6;
    font-size: 28px;
    color: hsl(236, 13%, 42%);
}
#button{
    color: black;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    letter-spacing: 7px;
    border-radius: 0px;
    width: 300px;
    height: 75px;
    object-fit: cover;
    border-color: white;
    background-color: hsl(5, 85%, 63%);
    color: white;
}
.button:hover{
    background-color: black;
    cursor: pointer;
}
.div22{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 45px;
    background-color: hsl(240, 100%, 5%);
    font-family: 'Inter', sans-serif;
    padding-left: 35px;
    padding-right: 35px;
}
.new{
    height: 12%;
    color: hsl(35, 77%, 62%);
    font-size: xx-large;
    /* background-color: red; */
}
#link{
    font-size: x-large;
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}
#link :hover{
    color: hsl(35, 77%, 62%);
}
.title1{
    /* background-color: blueviolet; */
}
.more{
    color: hsl(233, 8%, 79%);
    font-size: 22px;
    line-height: 2;
    width: 423px;
    /* background-color: gray; */
}
.hydrogen{
    display: flex;
    height: 25%;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom-style: ridge;
    border-color: hsl(236, 13%, 42%);
    padding-bottom: 10px;
    /* background-color: green; */
}
.artistry{
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom-style: ridge;
    border-color: hsl(236, 13%, 42%);
    padding-bottom: 10px;
    padding-top: 10px;
    /* background-color: red; */
}
.VC{
    height: 25%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 10px;
}
.div3{
    width: 1800px;
    margin-top: 80px;
    display: flex;
    /* background-color: red; */
    /* justify-content: space-between; */
    /* gap: 85px; */
}
.categorie1{
    display: flex;
    /* background-color: blue; */
}
.categorie2{
    display: flex;
    margin-left: 63px;
    /* background-color: blue; */
}
.categorie3{
    display: flex;
    margin-left: 163px;
    /* background-color: blue; */
}
.Laptops{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    /* background-color: red; */
    width: 350px;
}
.number{
    font-size: xx-large;
    color: hsl(233, 8%, 79%);
    /* background-color: blue; */
}
.title{
    /* background-color: green; */
    display: flex;
    color: black;
    text-decoration: none;
    width: 310px;
}
.title :hover{
    color: hsl(5, 85%, 63%);
}
.details{
    /* background-color: yellow; */
    display: flex;
    width: 300px;
    font-size: 20px;
    color: hsl(236, 13%, 42%);
    line-height: 1.6;

}
.img{
    width: 154px;
    height: auto;
}
.h2{
    margin: 0px;
    font-size: 50px;
}
.h2_title{
    margin: 0px;
    font-size: 26px;
}
h5{
    margin: 0px;
    font-size: 30px;
}
h1{
    margin: 0px;
}
p{
    letter-spacing: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    font-weight: bold;
    /* background-color: red; */
}
